<div class="home-container">
  <section class="home-hero">
    <video
      id="vid"
      loop
      preload="auto"
      autoplay
      muted
      playsinline
      class="home-video"
      poster="assets/80s-vid.webm"
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
    ><source src="assets/80s-vid.webm" type="video/mp4"></video>
    <div class="home-hero-content">
      <div class="home-header-container">
        <div class="home-header">
          <h1 class="home-heading">
            <span class="home-text">Hi, I&apos;m <span class="glitch" data-text="juAn Kerber">Juan Kerber</span>,</span>
            <br class="home-text01" />
            <span class="home-text02">an Information Systems graduate</span>
            <br class="home-text03" />
            <span class="home-text04">based in Geneva.</span>
            <br class="home-text05" />
          </h1>
        </div>
      </div>
      <div class="home-container1">
        <div class="home-container2">
          <span class="home-scroll">Scroll <span class="glitch" data-text="DoWn">down</span> to know me </span>
                  </div>
      </div>
    </div>
  </section>
  <section class="home-title">
    <div class="home-container3">
      <h1 class="home-heading-number"><span class="glitch" data-text="01">01</span></h1>
      <h1 class="home-heading1"><span class="glitch" data-text="Projects">Projects</span></h1>
    </div>
  </section>
  <section class="home-projects">
    <div class="home-header1">
      <h2 class="home-heading2">
        Here are different projects that I made during my studies.
      </h2>
      <p class="home-caption">
        They use technologies such as Python, Java, Scala, C#, HTML, CSS,
        Javascript, SQL, NodeJs or Angular.
      </p>
    </div>
    <div class="home-project-img">
      <div class="home-pro1"></div>
      <div class="home-pro2"></div>
    </div>
    <div class="home-project-img2">
      <div class="home-pro3"></div>
      <div class="home-pro4"></div>
    </div>
  </section>
  <section class="home-title1">
    <div class="home-container4">
      <h1 class="home-heading-number1"><span class="glitch" data-text="02">02</span></h1>
      <h1 class="home-heading3"><span class="glitch" data-text="About">About </span><span class="glitch" data-text="myself">myself</span></h1>
    </div>
  </section>
  <section class="home-about">
    <div class="home-images"></div>
    <div class="home-content">
      <div class="home-header2">
        <div class="home-header3">
          <h2 class="home-heading4">
            <span>Education</span>
            <br />
          </h2>
        </div>
        <p class="home-caption1">
          <span class="home-year">2018 - 2022</span>
          <br />
          <span class="home-degree">BSc in Information Systems and Services Science</span>
          <br />
          <span class="home-place">University of Geneva - Computer Science Centre</span>
          <br />
          <br />
          <span class="home-year">2012 - 2017</span>
          <br />
          <span class="home-degree">Maturité Gymnasiale</span>
          <br />
          <span class="home-place">Collège André-Chavanne - Geneva
          </span>
        </p>
      </div>
      <div class="home-header4">
        <div class="home-header5">
          <h2 class="home-heading5">
            <span>Programming &amp; Spoken Languages</span>
          </h2>
        </div>
        <div class="home-container5">
          <p class="home-caption2">
            <span>Python</span>
            <br />
            <span>Java</span>
            <br />
            <span>HTML/CSS/JS</span>
            <br />
            <span>SQL</span>
            <br />
          </p>
          <app-line rootClassName="line-root-class-name"></app-line>
          <p class="home-caption3">
            <span>French - Native</span>
            <br />
            <span>Spanish - Native</span>
            <br />
            <span>English - Fluent</span>
            <br />
            <span>Italian - Basics</span>
            <br />
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="home-footer">
    <footer class="home-footer1">
      <div class="home-icon-group">
        <a class="fa-brands fa-square-github home-icon" style="color: #b8b8b8;" href = "https://github.com/JuanKerber" target = "_blank"></a>
        <a class="fa-solid fa-square-envelope home-icon2" style="color: #b8b8b8;" href = "mailto:juan.kerberh@gmail.com"></a>
        <a class="fa-brands fa-linkedin home-icon3" style="color: #b8b8b8;" href = "https://www.linkedin.com/in/juankerber/" target = "_blank"></a>
      </div>
      <span class="home-text40">© 2024 All Rights Reserved.</span>
    </footer>
  </div>
</div>
