:host { 
  display: contents; 
}
.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.home-video {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  filter: opacity(0.6);
  height: 100vh;
  margin: auto;
  z-index: 100;
  position: absolute;
  object-fit: cover;
}
.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
    position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  font-family: Textfont;
  color: #b8b8b8;
  font-size: 3em;
  max-width: var(--dl-size-size-maxwidth);
  font-weight: 500;
  margin-left: 5vw;
  margin-right: 5vw;
}
.home-text {
  font-family: Textfont;
  font-weight: 700;
}
.home-text01 {
  font-family: Textfont;
  font-weight: 700;
}
.home-text02 {
  font-family: Textfont;
  font-weight: 700;
}
.home-text03 {
  font-family: Textfont;
  font-weight: 700;
}
.home-text04 {
  font-family: Textfont;
  font-weight: 700;
}
.home-text05 {
  font-style: normal;
}
.home-container1 {
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 12px;
  height: auto;
  margin-bottom: 2vmin;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
}
.home-container2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-scroll {
  font-family: Textfont;
  color: rgb(184, 184, 184);
  width: auto;
  font-size: 1.5em;
}

.home-title {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  margin-top: 20vmax;
  margin-bottom: 10vmax;
}
.home-container3 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading-number {
  color: rgb(184, 184, 184);
  font-size: 7em;
  align-self: center;
  font-family: Glitch;
}
.home-heading1 {
  color: #b8b8b8;
  font-size: 4em;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  font-family: Glitch;
}
.home-projects {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
  justify-content: flex-start;
  padding: 5vw;
}
.home-header1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  font-family: Textfont;
  color: rgb(124, 124, 128);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.home-caption {
  font-family: Textfont;
  color: rgb(124, 124, 128);
  font-size: 20px;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  line-height: 20px;
}
.home-project-img{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-project-img2{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-pro1 {
  display: flex;
  flex-direction: row;
  width: 30vmax;
  height: 30vmax;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  justify-content: center;
  background-image: var(--proj-playlist);
  background-repeat: no-repeat;
  background-position: center;
}
.home-pro2 {
  display: flex;
  flex-direction: row;
  width: 30vmax;
  height: 30vmax;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  justify-content: center;
  background-image: var(--proj-naca);
  background-repeat: no-repeat;
  background-position: center;
}
.home-pro3 {
  display: flex;
  flex-direction: row;
  width: 30vmax;
  height: 30vmax;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  justify-content: center;
  background-image: var(--proj-run);
  background-repeat: no-repeat;
  background-position: center;
}
.home-pro4 {
  display: flex;
  flex-direction: row;
  width: 30vmax;
  height: 30vmax;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  justify-content: center;
  background-image: var(--proj-recon);
  background-repeat: no-repeat;
  background-position: center;
}
.home-title1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  margin-top: 10vmax;
  margin-bottom: 10vmax;
}
.home-container4 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading-number1 {
  color: rgb(184, 184, 184);
  font-size: 7em;
  align-self: center;
  font-family: Glitch;
}
.home-heading3 {
  font-family: Textfont;
  color: rgb(184, 184, 184);
  font-size: 4em;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Glitch;
}
.home-about {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
.home-images {
  width: 50vmin;
  height: 50vmin;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: var(--my-portrait);
  background-repeat: no-repeat;
  background-position: center;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header2 {
    width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading4 {
  font-family: Textfont;
  color: #b8b8b8;
  font-size: 4vmax;
  font-style: normal;
  font-weight: 400;
margin-bottom: 2vw;
}
.home-caption1 {
  font-family: Textfont;
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 100%;
  line-height: 36px;
}
.home-header4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header5 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vmin;
}
.home-heading5 {
  font-family: Textfont;
  color: #b8b8b8;
  font-size: 4vmax;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 2vw;
}
.home-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.home-caption2 {
  font-family: Textfont;
  color: rgb(124, 124, 128);
  width: auto;
  font-size: 3.5vmin;
  line-height: 36px;
}
.home-caption3 {
  font-family: Textfont;
  color: rgb(124, 124, 128);
  width: auto;
  font-size: 3.5vmin;
  line-height: 36px;
  }
.home-year {
  font-size: 4vmin;
  font-style: italic;
  display: inline-block;
  margin: 2vmin;
}
.home-degree {
  font-size: 5vmin;
}
.home-place {
  font-size: 3.5vmin;
  font-style: italic;
  display: inline-block;
  margin-top: 1vmin;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-icon-group {
  width: 15vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 3vw;
}
.home-icon {
  fill: #b8b8b8;
}
.home-icon2 {
  fill: #b8b8b8;
}
.home-icon3 {
  fill: #b8b8b8;
}
.home-text40 {
  font-family: Textfont;
  color: rgb(184, 184, 184);
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
}
@media(max-width: 479px) {
  .home-container1{
    margin-bottom: 7vmax;
  }
  .home-video {
    width: 100%;
    height: 100%;
  }
  .home-project-img{
    display: flex;
    flex-direction: column;
  }
  .home-project-img2{
    display: flex;
    flex-direction: column;
  }
  .home-pro1 {
    width: 40vmax;
    height: 40vmax;
  }
  .home-pro2 {
    margin-top: 20px;
    width: 40vmax;
    height: 40vmax;
  }
  .home-pro3 {
    width: 40vmax;
    height: 40vmax;
  }
  .home-pro4 {
    margin-top: 20px;
    width: 40vmax;
    height: 40vmax;
  }
  .home-hero-content {
    gap: var(--dl-space-space-threeunits);
  height: 100%;
  }
  .home-heading {
    font-size: 4vmax;
    max-width: MaxWidth;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .home-title {
    height: 100%;
  }
  .home-heading2 {
    font-size: 5vmax;
  }
  .home-heading1 {
    font-size: 5vmax;
  }
  .home-heading-number {
    font-size: 9vmax;
  }
  .home-heading3 {
    font-size: 5vmax;
  }
  .home-heading-number1 {
    font-size: 9vmax;
  }

  .home-title1 {
    height: 100%;
  }
  .home-about {
    flex-direction: column;
  }
  .home-content {
    flex: 0 0 auto;
    width: 100%;
    max-width: var(--dl-size-size-maxwidth);
  }
  .home-header2 {
    width: 100%;
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-heading4 {
    font-size: 36px;
      }
  .home-header4 {
    width: auto;
    height: auto;
  }
  .home-heading5 {
    width: 100%;
    font-size: 36px;
    margin-bottom: 1vw;
  }
  .home-container5 {
    flex-direction: row;
    align-self: center;
    margin-top: 3vmin;
  }
  .home-caption2 {
    width: auto;
    align-self: center;
  }
  .home-caption3 {
    width: auto;
    align-self: center;
  }
  .home-icon-group {
    width: 15vmax;
    font-size: 6vw;
  }
  .home-text40 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-images{
    margin-bottom: 3vmin;
  }
}
